body {
    background-color: #efefef;
    font-family: "Lato", sans-serif;
    color: #747704;
}

.horizontal-rule {
    border-top: 2px solid #bcbbbb;
    margin: 0 0 5px 0;
}

.img-hdr-size {
    height: 150px;
    width: 150px;
}

.img-bod-size {
    width: 555px;
    height: 300px;
}

.title-header {
    font-size: 50px;
}

.text-thinner {
    font-weight: 100;
}

.text-centered {
    text-align: center;
}

.text-lighter {
    color: #bcbbbb;
}

.text-main-body {
    color: #747704;
}

@media (max-width: 600px) {
    .img-hdr-size {
        height: 150px;
        width: 150px;
    }

    .title-header {
        font-size: 36px;
    }

    .text-dev-h3 {
        font-size: 24px;
    }
}